.table {
    width: 100%;
    position: relative;
  }
  .tableContainer {
    height: 500px;
    overflow-x: auto;
    margin: 0 1rem;
    border: 2px solid lightgrey;
    border-radius: 0.25rem;
  }
  
  .tr {
    border-bottom: 1px solid lightgrey;
    line-height: 2rem;
  }
  
  .tr:nth-child(even) {
    background-color: var(--omrs-color-bg-medium-contrast);
  }
  
  .table td {
    padding: 0.25rem 0.5rem;
  }

  .filtersContainer {
    border-radius: 0.25rem;
    margin: 0 1rem;
  }

  .dropdown {
    width: 10%;
    height: 2rem;
    background: transparent;
    border: 1px solid var(--omrs-color-ink-lowest-contrast);
    background-clip: padding-box;
    border-radius: 4px;
    margin: 3rem;
  }
  .dropdown:disabled {
    opacity: 0.8;
    background: lightgrey;
    cursor: not-allowed;
  }
  .dropdown:focus {
    border: 2px solid var(--omrs-color-interaction);
    outline: 0;
  }
  .textBox {
    background: transparent;
    border: 1px solid var(--omrs-color-ink-lowest-contrast);
    background-clip: padding-box;
    border-radius: 4px;
    margin: 3rem;
  }
  